src/META-INF/wsdl/localhost_8080/EDDPROYECTO2/ReservacionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com/" name="ReservacionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com/" schemaLocation="http://localhost:8080/EDDPROYECTO2/ReservacionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarReservacion">
<part name="parameters" element="tns:agregarReservacion"/>
</message>
<message name="agregarReservacionResponse">
<part name="parameters" element="tns:agregarReservacionResponse"/>
</message>
<message name="generarTablaHash">
<part name="parameters" element="tns:generarTablaHash"/>
</message>
<message name="generarTablaHashResponse">
<part name="parameters" element="tns:generarTablaHashResponse"/>
</message>
<message name="reservacionesDelCliente">
<part name="parameters" element="tns:reservacionesDelCliente"/>
</message>
<message name="reservacionesDelClienteResponse">
<part name="parameters" element="tns:reservacionesDelClienteResponse"/>
</message>
<message name="eliminarReservacionConLlave">
<part name="parameters" element="tns:eliminarReservacionConLlave"/>
</message>
<message name="eliminarReservacionConLlaveResponse">
<part name="parameters" element="tns:eliminarReservacionConLlaveResponse"/>
</message>
<message name="reservacionConLlave">
<part name="parameters" element="tns:reservacionConLlave"/>
</message>
<message name="reservacionConLlaveResponse">
<part name="parameters" element="tns:reservacionConLlaveResponse"/>
</message>
<message name="verificarLlave">
<part name="parameters" element="tns:verificarLlave"/>
</message>
<message name="verificarLlaveResponse">
<part name="parameters" element="tns:verificarLlaveResponse"/>
</message>
<portType name="ReservacionWS">
<operation name="agregarReservacion">
<input wsam:Action="http://ws.com/ReservacionWS/agregarReservacionRequest" message="tns:agregarReservacion"/>
<output wsam:Action="http://ws.com/ReservacionWS/agregarReservacionResponse" message="tns:agregarReservacionResponse"/>
</operation>
<operation name="generarTablaHash">
<input wsam:Action="http://ws.com/ReservacionWS/generarTablaHashRequest" message="tns:generarTablaHash"/>
<output wsam:Action="http://ws.com/ReservacionWS/generarTablaHashResponse" message="tns:generarTablaHashResponse"/>
</operation>
<operation name="reservacionesDelCliente">
<input wsam:Action="http://ws.com/ReservacionWS/reservacionesDelClienteRequest" message="tns:reservacionesDelCliente"/>
<output wsam:Action="http://ws.com/ReservacionWS/reservacionesDelClienteResponse" message="tns:reservacionesDelClienteResponse"/>
</operation>
<operation name="eliminarReservacionConLlave">
<input wsam:Action="http://ws.com/ReservacionWS/eliminarReservacionConLlaveRequest" message="tns:eliminarReservacionConLlave"/>
<output wsam:Action="http://ws.com/ReservacionWS/eliminarReservacionConLlaveResponse" message="tns:eliminarReservacionConLlaveResponse"/>
</operation>
<operation name="reservacionConLlave">
<input wsam:Action="http://ws.com/ReservacionWS/reservacionConLlaveRequest" message="tns:reservacionConLlave"/>
<output wsam:Action="http://ws.com/ReservacionWS/reservacionConLlaveResponse" message="tns:reservacionConLlaveResponse"/>
</operation>
<operation name="verificarLlave">
<input wsam:Action="http://ws.com/ReservacionWS/verificarLlaveRequest" message="tns:verificarLlave"/>
<output wsam:Action="http://ws.com/ReservacionWS/verificarLlaveResponse" message="tns:verificarLlaveResponse"/>
</operation>
</portType>
<binding name="ReservacionWSPortBinding" type="tns:ReservacionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarReservacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarTablaHash">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservacionesDelCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarReservacionConLlave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reservacionConLlave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verificarLlave">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReservacionWS">
<port name="ReservacionWSPort" binding="tns:ReservacionWSPortBinding">
<soap:address location="http://localhost:8080/EDDPROYECTO2/ReservacionWS"/>
</port>
</service>
</definitions>