src/META-INF/wsdl/localhost_8080/ServidorEDD/RutaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com/" name="RutaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com/" schemaLocation="http://localhost:8080/ServidorEDD/RutaWS?xsd=1" />
</xsd:schema>
</types>
<message name="agregarRuta">
<part name="parameters" element="tns:agregarRuta" />
</message>
<message name="agregarRutaResponse">
<part name="parameters" element="tns:agregarRutaResponse" />
</message>
<message name="generarViajes">
<part name="parameters" element="tns:generarViajes" />
</message>
<message name="generarViajesResponse">
<part name="parameters" element="tns:generarViajesResponse" />
</message>
<message name="eliminarRuta">
<part name="parameters" element="tns:eliminarRuta" />
</message>
<message name="eliminarRutaResponse">
<part name="parameters" element="tns:eliminarRutaResponse" />
</message>
<message name="reporteRutaEn">
<part name="parameters" element="tns:reporteRutaEn" />
</message>
<message name="reporteRutaEnResponse">
<part name="parameters" element="tns:reporteRutaEnResponse" />
</message>
<message name="generarMatriz">
<part name="parameters" element="tns:generarMatriz" />
</message>
<message name="generarMatrizResponse">
<part name="parameters" element="tns:generarMatrizResponse" />
</message>
<message name="generarGrafoRutas">
<part name="parameters" element="tns:generarGrafoRutas" />
</message>
<message name="generarGrafoRutasResponse">
<part name="parameters" element="tns:generarGrafoRutasResponse" />
</message>
<message name="recuperarEncabezados">
<part name="parameters" element="tns:recuperarEncabezados" />
</message>
<message name="recuperarEncabezadosResponse">
<part name="parameters" element="tns:recuperarEncabezadosResponse" />
</message>
<portType name="RutaWS">
<operation name="agregarRuta">
<input wsam:Action="http://ws.com/RutaWS/agregarRutaRequest" message="tns:agregarRuta" />
<output wsam:Action="http://ws.com/RutaWS/agregarRutaResponse" message="tns:agregarRutaResponse" />
</operation>
<operation name="generarViajes">
<input wsam:Action="http://ws.com/RutaWS/generarViajesRequest" message="tns:generarViajes" />
<output wsam:Action="http://ws.com/RutaWS/generarViajesResponse" message="tns:generarViajesResponse" />
</operation>
<operation name="eliminarRuta">
<input wsam:Action="http://ws.com/RutaWS/eliminarRutaRequest" message="tns:eliminarRuta" />
<output wsam:Action="http://ws.com/RutaWS/eliminarRutaResponse" message="tns:eliminarRutaResponse" />
</operation>
<operation name="reporteRutaEn">
<input wsam:Action="http://ws.com/RutaWS/reporteRutaEnRequest" message="tns:reporteRutaEn" />
<output wsam:Action="http://ws.com/RutaWS/reporteRutaEnResponse" message="tns:reporteRutaEnResponse" />
</operation>
<operation name="generarMatriz">
<input wsam:Action="http://ws.com/RutaWS/generarMatrizRequest" message="tns:generarMatriz" />
<output wsam:Action="http://ws.com/RutaWS/generarMatrizResponse" message="tns:generarMatrizResponse" />
</operation>
<operation name="generarGrafoRutas">
<input wsam:Action="http://ws.com/RutaWS/generarGrafoRutasRequest" message="tns:generarGrafoRutas" />
<output wsam:Action="http://ws.com/RutaWS/generarGrafoRutasResponse" message="tns:generarGrafoRutasResponse" />
</operation>
<operation name="recuperarEncabezados">
<input wsam:Action="http://ws.com/RutaWS/recuperarEncabezadosRequest" message="tns:recuperarEncabezados" />
<output wsam:Action="http://ws.com/RutaWS/recuperarEncabezadosResponse" message="tns:recuperarEncabezadosResponse" />
</operation>
</portType>
<binding name="RutaWSPortBinding" type="tns:RutaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="agregarRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generarViajes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarRuta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="reporteRutaEn">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generarMatriz">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="generarGrafoRutas">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="recuperarEncabezados">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="RutaWS">
<port name="RutaWSPort" binding="tns:RutaWSPortBinding">
<soap:address location="http://localhost:8080/ServidorEDD/RutaWS" />
</port>
</service>
</definitions>