xml-resources/web-service-references/RutaWS/wsdl/localhost_8080/EDDPROYECTO2/RutaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.com/" name="RutaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.com/" schemaLocation="http://localhost:8080/EDDPROYECTO2/RutaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="agregarRuta">
<part name="parameters" element="tns:agregarRuta"/>
</message>
<message name="agregarRutaResponse">
<part name="parameters" element="tns:agregarRutaResponse"/>
</message>
<message name="eliminarRuta">
<part name="parameters" element="tns:eliminarRuta"/>
</message>
<message name="eliminarRutaResponse">
<part name="parameters" element="tns:eliminarRutaResponse"/>
</message>
<message name="generarMatriz">
<part name="parameters" element="tns:generarMatriz"/>
</message>
<message name="generarMatrizResponse">
<part name="parameters" element="tns:generarMatrizResponse"/>
</message>
<portType name="RutaWS">
<operation name="agregarRuta">
<input wsam:Action="http://ws.com/RutaWS/agregarRutaRequest" message="tns:agregarRuta"/>
<output wsam:Action="http://ws.com/RutaWS/agregarRutaResponse" message="tns:agregarRutaResponse"/>
</operation>
<operation name="eliminarRuta">
<input wsam:Action="http://ws.com/RutaWS/eliminarRutaRequest" message="tns:eliminarRuta"/>
<output wsam:Action="http://ws.com/RutaWS/eliminarRutaResponse" message="tns:eliminarRutaResponse"/>
</operation>
<operation name="generarMatriz">
<input wsam:Action="http://ws.com/RutaWS/generarMatrizRequest" message="tns:generarMatriz"/>
<output wsam:Action="http://ws.com/RutaWS/generarMatrizResponse" message="tns:generarMatrizResponse"/>
</operation>
</portType>
<binding name="RutaWSPortBinding" type="tns:RutaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="agregarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="eliminarRuta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="generarMatriz">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RutaWS">
<port name="RutaWSPort" binding="tns:RutaWSPortBinding">
<soap:address location="http://localhost:8080/EDDPROYECTO2/RutaWS"/>
</port>
</service>
</definitions>