xml-resources/web-service-references/RutaWS/wsdl/localhost_8080/EDDPROYECTO2/RutaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.com/">

<xs:element name="agregarRuta" type="tns:agregarRuta"/>

<xs:element name="agregarRutaResponse" type="tns:agregarRutaResponse"/>

<xs:element name="eliminarRuta" type="tns:eliminarRuta"/>

<xs:element name="eliminarRutaResponse" type="tns:eliminarRutaResponse"/>

<xs:element name="generarMatriz" type="tns:generarMatriz"/>

<xs:element name="generarMatrizResponse" type="tns:generarMatrizResponse"/>

<xs:complexType name="agregarRuta">
<xs:sequence>
<xs:element name="origen" type="xs:int"/>
<xs:element name="destino" type="xs:int"/>
<xs:element name="costoRuta" type="xs:float"/>
<xs:element name="tiempoRuta" type="xs:float"/>
<xs:element name="piloto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRuta">
<xs:sequence>
<xs:element name="origen" type="xs:int"/>
<xs:element name="destino" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eliminarRutaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="generarMatriz">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="generarMatrizResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>